section{
  display: contents;
  width: 100%;
  max-width: 1070px;
  flex-wrap: wrap;
  height: 100%;
}

h2{
  color: #fff;
  margin-left: 112px;
  margin-top: 30px;
  font: 20px Roboto, Arial, sans-serif;
  font-weight: bold;
}

hr{
  background-color: #303030;
  height: 4px;
  border: none;
  width: 100%;
  max-width: 1230px;
  margin-left: 95px;
}